{% for post in posts %}
<div class="col-md-12">
    <div class="border-top"></div>
    <div class="single-post-big">
        <div class="big-image">
            <img src="{{ post.photo.url }}" alt="">
        </div>
        <div class="big-text">
            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}.</a></h3>
            <p>{{ post.content|truncatewords_html:40|safe }}</p>
            <h4><span class="date">{{post.created_at|date:"d.m.Y"}}</span><span class="author">Posted By: <span
                    class="author-name">{{ post.author }}</span></span>
            </h4>
        </div>
    </div>
</div>
<hr width="50">
{% endfor %}